<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ABHINATI/Documents/Personal/JavaPractice/AppiumPractice/AppiumPractice">
        <classes>
            <class name="AppiumTests.FirstAppiumTest">
                <methods>
                    <include name="firstTestByStartingAppiumServer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>